/* 默认背景颜色，浅色模式 */
:root {
    --background-color: #EDEDED;
    --background-transparent: rgba(237, 237, 237, 0);
    --background-seethrough: rgba(237, 237, 237, 0.5);
    --text-color: #1e1e1e;
    --text-colordim: rgba(17, 17, 17, 0.5);
    --text-colorreverse: #f4f4f4;
    --container-color: rgba(255, 255, 255, 1.0);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-colorsubtle: rgba(0, 0, 0, 0.03);
    --notice-color: rgba(207, 55, 32, 0.7);
    --notice-colordim: rgba(207, 55, 32, 0.3);
    --notice-colorsubtle:rgba(207, 55, 32, 0.1);
    --notice-colorstress: rgba(165, 75, 61, 1);
    --agreed-color: #65c466;
}

/* 深色模式下的样式 */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #111111;
        --background-transparent: rgba(17, 17, 17, 0);
        --background-seethrough: rgba(17, 17, 17, 0.5);
        --text-color: #f4f4f4;
        --text-colordim: rgba(237, 237, 237, 0.6);
        --text-colorreverse: #1e1e1e;
        --container-color: rgba(255, 255, 255, 0.01);
        --shadow-color: rgba(255, 255, 255, 0.1);
        --shadow-colorsubtle: rgba(255, 255, 255, 0.03);
        --notice-color: rgba(255, 216, 61, 0.8);
        --notice-colordim: rgba(255, 222, 92, 0.3);
        --notice-colorsubtle: rgba(255, 222, 92, 0.1);
        --notice-colorstress: rgba(255, 236, 162, 1);
        --agreed-color: #68CE67;
    }
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}


.welcome-text {
    position: fixed;
    top: calc(30% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--shadow-colorsubtle);
    color: var(--text-color);
    opacity: 0;
    position: fixed;
    transition: opacity 0.2s ease-in-out, transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    z-index: 10;
}

#welcome {
    font-size: 32px;
    font-family: "Slim";
    margin: 0%;
}

#wcmexp {
    font-size: 16px;
    font-family: "EL";
    opacity: 0.7;
    margin-top: 5px;
}

.passcodeboard {
    width: 300px;
    padding: 20px;
    color: var(--text-color);
    transform: translateY(10%);
}
  
  
.digits {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boxnotice {
    position: absolute;
    width: calc(70%);
    max-width: 350px;
    top: 20px;
    font-family: 'EL';
    opacity: 0;
    margin-top: 10px;
}
  
.note {
    margin: 0 0 0px 0;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border: 2px solid var(--notice-colorsubtle);
    color: var(--notice-colorstress);
    background-color: var(--notice-colorsubtle);
}

.loginbtn {
    text-align: center;
    padding: 8px 0px 8px 0;
    font-size: 16px;
    font-family: 'EL';
    border-radius: 0 0 5px 5px;
    color: var(--text-colorreverse);
    border: 0px solid var(--notice-colorsubtle);
    background-color: var(--notice-color);
}


input {
    width: 20px;
    height: 40px;
    padding: 10px;
    font-family: "EL";
    color: var(--text-color);
    background: var(--container-color);
    border: 2px solid var(--shadow-color);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    transition: border-color 0.1s ease-in-out;
}

input:focus {
    outline: 0;
    background: var(--shadow-colorsubtle);
}

/*-----------------------------------------------------------------*/
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40.6px;
    height: 24px;
    background: var(--shadow-colorsubtle);
    display: block;
    border-radius: 100px;
    border: 1.5px solid var(--shadow-color);
    position: relative;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 0.6px;
    left: 0.6px;
    width: 22.8px;
    height: 22.8px;
    background: #fff;
    border-radius: 90px;
    transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 3px rgba(0, 0, 0, 0.7);
  }
  
  input:checked + label {
    background: var(--agreed-color);
  }
  
  input:checked + label:after {
    left: calc(100% - 0.6px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 26px;
  }
  
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  /*-----------------------------------------------------------------*/

.main {
    display: none;
    z-index: 2;
    text-align: center;
    margin-top: 30px;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    z-index: 2;
    filter: blur(0px);
    opacity: 0;
    transition: filter 0.2s ease-out, opacity 0.2s ease-out, height 0.6s cubic-bezier(0.4, 0.000, 0.3, 1.000);
}

/* transformation required*/
.Header, .box, .above {
    transition: opacity 0.2s ease-in-out, scale 0.7s cubic-bezier(0.245, 1.215, 0.360, 0.985), transform 0.7s cubic-bezier(0.245, 1.215, 0.360, 0.985), filter 0.4s ease-out, height 0.6s cubic-bezier(0.4, 0.000, 0.3, 1.000);
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    margin-top: 0px;
}

#box2 {
    display: none;
    height: fit-content;
    filter: blur(20px);
    opacity: 0.3;
    scale: 0.95;
}

.above {
    text-align: left;
    font-family: "EL", system-ui, -apple-system;
    padding: 5px;
    margin-left: 23px;
    font-size: 20px;
}

.nshowhide {
    position: absolute;
    display: none;
    left: 75px;
    top: -10px;
    transform: scaleY(-1) scaleX(0.8) translateY(-6px);
    opacity: 1;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s ease-out, filter 0.3s ease-out, transform 0.3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.Salert {
    position: absolute;
    display: none;
    font-family: "EL", system-ui, -apple-system;
    color: var(--text-color);
    width: fit-content;
    left: 95px;
    top: -10px;
    text-align: center;
    font-size: 16px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-out, filter 0.3s ease-out;
}

.noaccess, .showhide {
    position: absolute;
    font-family: "EL", system-ui, -apple-system;
    color: var(--text-color);
    width: fit-content;
    left: 75px;
    top: -10px;
    text-align: center;
    font-size: 16px;
    opacity: 0.5;
    transition: opacity 0.2s ease-out, filter 0.3s ease-out;
}

.block {
    height: fit-content;
    margin: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 15px;
    padding-right: 14px;
    border-radius: 10px;
    border: 1px solid var(--shadow-colorsubtle);
    background-color: var(--container-color);
}

.cardimg {
    width: calc(100% + 25px);
    border-radius: 7.4px;
    translate: -13px 2px;
}

#blk1, #blk2, #blk5, #blk6, #blk9 {
    width: calc(50% - 53px);
}

#blk3, #blk4, #blk7, #blk8 {
    width: calc(25% - 53px);
}

#blk2 {
    color: #1e1e1e;
    background-image: url("https://picloud.cc/images/2024/03/31/f8a8baac7c3ef2bdd1f336605cbda841.png");
    background-size: 110% auto;
    background-position: center;
}


h1 {
    z-index: 4;
    position: fixed;
    width: 100%;
    top: 50px;
    font-size: 40px;
    font-family: "SW", system-ui, -apple-system;
    font-weight: normal;
    background: radial-gradient(120px 50px at 40% 10%, var(--text-colordim), var(--text-color)) text;
    -webkit-text-fill-color: transparent;
    color: unset;

}

h1.scrolled {
    transition: width 0.1s linear;
}

h2 {
    color: var(--text-color);
}

.clipped {
    z-index: 11;
    position: fixed;
    left: 0px;
    width:100%;
    filter: blur(20px);
    transition: opacity 0.2s ease-in-out, transform 0.6s cubic-bezier(0.4, 0.000, 0.3, 1.000); ;
}


.filler {
    height: 130px;
    transition: height 0.6s cubic-bezier(0.4, 0.000, 0.3, 1.000); 
}

#f2 {
    height: 40px;
}

#ctop {
    height: 60px;
    transform: translateY(-50px);
    top: 0px;
    background: var(--background-seethrough);
    opacity: 0;
}

#cbottom {
    height: 40px;
    bottom: 0px;
    background: linear-gradient(to bottom, var(--background-transparent), var(--background-color));
}

p {
    font-family: "EL", system-ui, -apple-system;
}

.gotos {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.stressed {
    font-family: "Median";
}

.underlined {
    text-decoration: underline;
}

.big {
    font-size: 30px;
    font-family: "Neutral", system-ui, -apple-system;
    margin: 10px;
    margin-left: 0px;
}

.large {
    font-size: 48px;
    margin: 10px;
    margin-left: 0px;
}

.subtle {
    opacity: 0.6;
}

.float {
    z-index: 4;
    position: fixed;
    font-family: "EL", system-ui, -apple-system;
}

#info {
    bottom: 7px;
    left: 10px;
    opacity: 0.3;
    font-size: 7px;
}

.gradient-blur {
    position: fixed;
    z-index: 5;
    inset: 0 0 auto 0;
    height: 80px;
    pointer-events: none;
  }
  .gradient-blur > div,
  .gradient-blur::before,
  .gradient-blur::after {
    position: absolute;
    inset: 0;
  }
  .gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 75%
    );
  }
  .gradient-blur > div:nth-of-type(1) {
    z-index: 12;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .gradient-blur > div:nth-of-type(2) {
    z-index: 13;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .gradient-blur > div:nth-of-type(3) {
    z-index: 14;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .gradient-blur::after {
    content: "";
    z-index: 15;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 100%
    );
  }



/* phone view */
@media (max-width: 768px) {
    .main {
        text-align: left;
        justify-content: flex-start;
    }
    #ctop {
        height: 100px;
        top: 0px;
        background: linear-gradient(to bottom, var(--background-color) 65%, var(--background-transparent) 90%);
    }
    h1 {
        text-align: left;
        left: 28px;
        max-width: 85%;
        transform-origin: top left;
    }
    h1.scrolled {
        transition: transform 0.5s cubic-bezier(0.245, 1.215, 0.360, 0.985); 
    }
    .block {
        width: calc(50% - 53px) !important;
    }
}

@media (max-width: 500px) {
    .block {
        width: calc(100% - 53px) !important;
    }
}

/* filler height aff title wrapping */
@media (max-width: 270px) {
    .filler {
        height: 170px !important;
    }
    #ctop {
        height: 150px;
    }
}



@font-face {
    font-family: "EL";
    src: url("electrolize.ttf") format("woff");
}
@font-face {
    font-family: "NW";
    src: url("PolySans Neutral Wide.woff") format("woff");
}
@font-face {
    font-family: "Median";
    src: url("PolySans Median.woff") format("woff");
}
@font-face {
    font-family: "Neutral";
    src: url("PolySans Neutral.woff") format("woff");
}
@font-face {
    font-family: "Slim";
    src: url("PolySans Slim.woff") format("woff");
}
@font-face {
    font-family: "SW";
    src: url("PolySans Slim Wide.woff") format("woff");
}
