/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


/* 默认背景颜色，浅色模式 */
:root {
    --background-color: #f4f4f4;
    --header-color: #1e1e1e;
    --default-color: rgba(0, 0, 0, 0.3);
}

/* 深色模式下的样式 */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --header-color: #f4f4f4;
        --default-color: rgba(255, 255, 255, 0.3);
    }
}


body {
    background-color: var(--background-color);
    color: var(--default-color);
    font-family: "Sans", Arial, sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@font-face {
    font-family: "Sans";
    src: url("/fonts/ProductSans.ttf") format("truetype");
}

header {
    font-family: "Sans", Arial, sans-serif;
    padding: 10px;
}


@font-face {
    font-family: "Sans";
    src: url("/fonts/ProductSans.ttf") format("truetype");

h1 {
    font-size: 62px;
    color: var(--header-color);
    font-weight: normal;
    text-align: center;
}

}

h2 {
    color: var(--default-color);
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--default-color);
    text-allign: center;
    padding: 10px;
}

p {
    margin-top: 20px;
    color: var(--default-color);
    font-size: 12px;
    text-align: center;
}

.background {
    background-image: url('/assets/xmas.png');
    margin: 0 auto; /* 设置左右外边距为 auto，使其居中 */
    background-size: cover;
    text-allign: center;
    padding: 0 0px; 
}

footer {
    margin-top: 62px;
    text-align: center;
    color: #777;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    header, section, footer {
        padding: 10px;
    }
}
