/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


/* 默认背景颜色，浅色模式 */
:root {
    --background-color: #f4f4f4;
    --text-color: #1e1e1e;
    --container-color: rgba(0, 0, 0, 0.1);
}

/* 深色模式下的样式 */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --text-color: #f4f4f4;
        --container-color: rgba(255, 255, 255, 0.1);
    }
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Sans", Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;

}

@font-face {
    font-family: "Sans";
    src: url("/fonts/ProductSans.ttf") format("truetype");
}

header {
    font-family: "Sans", Arial, sans-serif;
    padding: 10px;
}


@font-face {
    font-family: "Sans";
    src: url("/fonts/ProductSans.ttf") format("truetype");

.mainheader {
    font-size: 8em;
    color: var(--text-color);
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

}

.mainsubtitle {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
}



.blocked {
    margin-top: 20px;
    color: var(--text-color);
    background-color: var(--container-color);
    border-radius: 10px;
    font-size: 1em;
    text-align: left;
    word-wrap: break-word;
    padding: 10px;
}

.blocked img{
    max-width: 90%;
    border-radius: 7px;
    margin-top: 10px
}

.btnfloat {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #4CAF50; /* 你可以根据需要更改颜色 */
    color: white; /* 文本颜色 */
    border-radius: 25px; /* 圆角大小 */
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    left: 50px;
    word-wrap: break-word;
}



footer {
    margin-top: 62px;
    text-align: center;
    color: #777;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    header, section, footer {
        padding: 10px;
    }
}
